@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Service Lifetime</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service type</th>
            <th>First instance- OperationID</th>
            <th>Second instance- OperationID</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Singleton(constant)</td>
            <td>@ViewBag.Singleton1</td>
            <td>@ViewBag.Singleton2</td>
<tr/>
<tr>
    <td>Scoped(same)</td>
    <td>
        @ViewBag.Scoped1
    </td>
    <td>@ViewBag.Scoped2</td>
</tr>
<tr>
    <td>Transient(changes)</td>
    <td>
        @ViewBag.transient1
    </td>
    <td>
        @ViewBag.transient2
    </td>
</tr>

       

        
    </tbody>
</table>
